<!DOCTYPE html>
<head>
  <h1>ALPHA-BLOG ABOUT PAGE</h1>
</head>
<body>
  <%= link_to 'Home', root_path %>
  <p>here's what you need to know about the organisation and because of the amazing support of the websites followers.....bla bla bla.... </p>
</body>
