
<!DOCTYPE html>
<head>
  <title>html page</title>
</head>
<body>
  <%= link_to 'About', about_path %>
  <h1>ALPHA-BLOG HOMEPAGE</h1>
  <p>this is my new website blog alpha blog that gives oppurtunity for bloggers to bog about anything they want .they can blog about.....bla bla bla bla.... </p>
</body>
